{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card-product.css' | asset_url | stylesheet_tag }}
{{ 'template-search.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
-%}

<div class="template-search container">
  <h1 class="">
    {%- if search.performed -%}
      {{- 'templates.search.title' | t -}}
    {%- else -%}
      {{- 'general.search.search' | t -}}
    {%- endif -%}
  </h1>
  <div class="template-search__search">
    {%- if settings.predictive_search_enabled -%}
      <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
    {%- endif -%}
    <main-search>
      <form action="{{ routes.search_url }}" method="get" role="search" class="search">
        <div class="field">
          <input
            class="search__input field__input"
            id="Search-In-Template"
            type="search"
            name="q"
            value="{{ search.terms | escape }}"
            placeholder="{{ 'general.search.search' | t }}"
            {%- if settings.predictive_search_enabled -%}
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results"
              aria-controls="predictive-search-results"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
            {%- endif -%}
          >
          <input name="options[prefix]" type="hidden" value="last">

          {%- if settings.predictive_search_enabled -%}
            <div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
              {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
            </div>

            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          {%- endif -%}

          <button
            type="reset"
            class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
            aria-label="{{ 'general.search.reset' | t }}"
          >
            reset
          </button>
          <button type="submit" class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
            search
          </button>
        </div>
      </form>
    </main-search>
    {%- if settings.predictive_search_enabled -%}
      </predictive-search>
    {%- endif -%}
  </div>
  {%- if search.performed -%}
    {%- unless section.settings.enable_filtering or section.settings.enable_sorting -%}
      {%- if search.results_count > 0 -%}
        <p role="status">
          {{ 'templates.search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count }}
        </p>
      {%- endif -%}
    {%- endunless -%}
    {%- if search.results_count == 0 and search.filters == empty -%}
      <p role="status">{{ 'templates.search.no_results' | t: terms: search.terms }}</p>
    {%- endif -%}
  {%- endif -%}
  {%- if search.performed -%}
    <div class="">
      <div class="product-grid-container" id="ProductGridContainer">
        {%- if search.results.size == 0 and search.filters != empty -%}
          <div
            class="template-search__results collection"
            id="product-grid"
            data-id="{{ section.id }}"
          >
            <div class="loading-overlay gradient"></div>
            <h2 class="center">No result Found</h2>
          </div>
        {%- else -%}
          <div
            class="template-search__results collection container"
            id="product-grid"
            data-id="{{ section.id }}"
          >
            <div class="loading-overlay gradient"></div>
            <ul
              class="grid collection-products"
              role="list"
            >
              {%- for item in search.results -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}

                <li class="grid__item">
                  {%- case item.object_type -%}
                    {%- when 'product' -%}
                      {% render 'card-product', card_product: item %}
                  {%- endcase -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Search",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
